In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://localhost:5430/retain_dev")

accounts = pd.read_sql(
    "SELECT * FROM accounts",
    engine
)

accounts.head()

     account_id             email signup_date country  age  gender
0  ACC_728CCBB1  user_0@email.com  2024-01-01      US   50  Female
1  ACC_747CFF0B  user_1@email.com  2024-01-20      US   33  Female
2  ACC_C8E9D207  user_2@email.com  2024-01-28      US   39   Other
3  ACC_2D5C4D35  user_3@email.com  2024-01-04      US   22    Male
4  ACC_7C7AA7DC  user_4@email.com  2024-01-25      US   33    Male