In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://localhost:5430/retain_dev")

payments = pd.read_sql(
    "SELECT * FROM payments",
    engine
)

payments.head()

,payment_id,account_id,payment_date,amount,currency,payment_method,status,failure_reason
0,PAY_C6C40B8F3D,ACC_728CCBB1,2024-01-08,9.99,USD,debit_card,failed,insufficient_funds
1,PAY_16068148A4,ACC_728CCBB1,2024-02-07,9.99,USD,debit_card,success,NaN
2,PAY_032CC6B809,ACC_728CCBB1,2024-03-08,9.99,USD,debit_card,success,NaN
3,PAY_C27EFB23DC,ACC_728CCBB1,2024-04-07,9.99,USD,debit_card,success,NaN
4,PAY_458069423D,ACC_728CCBB1,2024-05-07,9.99,USD,debit_card,success,NaN